.Marker {

}

.Marker-circle {
    position: relative;
    top: -25px;
    left: -25px;
    width: 50px;
    height: 50px;

    font-size: 20px;
    color: white;
    text-align: center;

    padding: 0;
    border-radius: 50%;
    background: #3279A6;
    line-height: 50px;
    cursor: pointer;

    border: white solid 2px;

    transition: ease-in-out 100ms;
}

.Marker-circle a {
    color: white;
    text-decoration: none;
}

.Marker-circle:hover {
    transform: scale(1.2);
}

.Marker-name {
    position: relative;
    top: -20px;
    left: -25px;
    width: 50px;
    text-align: center;
    text-shadow: #282c34;
}