.App-map-container {
  float: left;
  width: 80%;
  height: 100vh;
}

.App-sidebar {
  float: right;
  width: 20%;
}

.App-sidebar-row {
  width: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.App-sidebar-row input {
  width: 100%;
}